.more {
  display: block;
  position: relative;
  line-height: 12rem;
  height: 8rem;
  margin-top: -8rem;
  background: rgb(51,51,51);
  background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
}